<header>
  <nav>
    <a href="/" class="nav-logo">NYC Computer Access</a>
    <ul class="nav-links">
      <li><a href="/centers">Find a Center</a></li>
      {{!-- TODO: add login/logout links based on session --}}
    </ul>
  </nav>
</header>
